<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div style="display: flex; flex-direction: row;">
                <a class="dropdown-item" routerLink='/mobile'>
                    <i class="fas fa-mobile"></i>&nbsp; Mobile
                </a>
            </div>
            <div class="dropdown-divider"></div>
            <div style="display: flex; flex-direction: row;">
                <a class="dropdown-item" routerLink='/laptop'>
                    <i class="fas fa-laptop"></i>&nbsp; Laptops
                </a>
            </div>
            <div class="dropdown-divider"></div>
            <div style="display: flex; flex-direction: row;">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-camera"></i>&nbsp; Cameras
                </a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success mr-5" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-shopping-cart"></i> My Cart</button>
      </form>
    </div>
  </nav>