<div>
  <app-navbar></app-navbar>
</div>
<router-outlet></router-outlet>

<div class="footer">
  <ul class="social-network social-circle">
    <li><a class="icoLinkedin" href="https://www.linkedin.com/in/bratin-kundu-449954170/" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="icoTwitter" href="https://twitter.com/BratinKundu" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="icoFacebook" href="https://www.facebook.com/bratin.kundu" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="icoInstagram" href="https://www.instagram.com/iam_bratin/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
  
</div>
